<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sporthenon.android" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme">
        <!-- LANGUAGE CHOICE -->
        <activity
            android:name=".activity.LangActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- SPORTS -->
        <activity
            android:name=".activity.SportActivity"/>
        <!-- CHAMPIONSHIPS -->
        <activity
            android:name=".activity.ChampionshipActivity"/>
        <!-- EVENTS -->
        <activity
            android:name=".activity.EventActivity"/>
        <!-- RESULTS -->
        <activity
            android:name=".activity.ResultActivity"/>
        <!-- SINGLE RESULT -->
        <activity
            android:name=".activity.Result1Activity"/>
    </application>

</manifest>