<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sporthenon.android" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- SPORTS -->
        <activity
            android:name=".activity.SportActivity"
            android:label="@string/app_name2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- CHAMPIONSHIPS -->
        <activity
            android:name=".activity.ChampionshipActivity"
            android:label="@string/app_name2">
        </activity>
        <!-- EVENTS -->
        <activity
            android:name=".activity.EventActivity"
            android:label="@string/app_name2">
        </activity>
        <!-- RESULTS -->
        <activity
            android:name=".activity.ResultActivity"
            android:label="@string/app_name2">
        </activity>
    </application>

</manifest>