<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="env">local</entry><!-- Environment (standalone|local|prod) -->
	<entry key="version">[local]</entry>
	<entry key="url">http://localhost:8082/sh/</entry>
	<entry key="img.url">http://localhost:8082/img/</entry>
	<entry key="img.folder">C:/Program Files/GlassfishV3/glassfish/domains/domain1/docroot/img/</entry>
</properties>