<?xml version="1.0" encoding="UTF-8"?>
<web-app
	version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>sh</display-name>
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>
	
	<servlet>
		<display-name>IndexServlet</display-name>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>com.sporthenon.web.servlet.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ProjectServlet</display-name>
		<servlet-name>ProjectServlet</servlet-name>
		<servlet-class>com.sporthenon.web.servlet.ProjectServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.sporthenon.web.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>UpdateServlet</display-name>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>com.sporthenon.web.servlet.UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ImageServlet</display-name>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>com.sporthenon.web.servlet.ImageServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>InfoRefServlet</display-name>
		<servlet-name>InfoRefServlet</servlet-name>
		<servlet-class>com.sporthenon.web.servlet.InfoRefServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>OlympicsServlet</display-name>
		<servlet-name>OlympicsServlet</servlet-name>
		<servlet-class>com.sporthenon.web.servlet.OlympicsServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ResultServlet</display-name>
		<servlet-name>ResultServlet</servlet-name>
		<servlet-class>com.sporthenon.web.servlet.ResultServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>SearchServlet</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.sporthenon.web.servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>USLeaguesServlet</display-name>
		<servlet-name>USLeaguesServlet</servlet-name>
		<servlet-class>com.sporthenon.web.servlet.USLeaguesServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>NavigationServlet</display-name>
		<servlet-name>NavigationServlet</servlet-name>
		<servlet-class>com.sporthenon.web.servlet.NavigationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/IndexServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/ImageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfoRefServlet</servlet-name>
		<url-pattern>/InfoRefServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProjectServlet</servlet-name>
		<url-pattern>/ProjectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OlympicsServlet</servlet-name>
		<url-pattern>/OlympicsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResultServlet</servlet-name>
		<url-pattern>/ResultServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/SearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>USLeaguesServlet</servlet-name>
		<url-pattern>/USLeaguesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NavigationServlet</servlet-name>
		<url-pattern>/results/*</url-pattern>
		<url-pattern>/olympics/*</url-pattern>
		<url-pattern>/usleagues/*</url-pattern>
		<url-pattern>/search/*</url-pattern>
		<url-pattern>/project/*</url-pattern>
		<url-pattern>/contribute/*</url-pattern>
		<url-pattern>/login/*</url-pattern>
		<url-pattern>/logout/*</url-pattern>
		<url-pattern>/update/*</url-pattern>
		<url-pattern>/athletes/*</url-pattern>
		<url-pattern>/championships/*</url-pattern>
		<url-pattern>/cities/*</url-pattern>
		<url-pattern>/complexes/*</url-pattern>
		<url-pattern>/countries/*</url-pattern>
		<url-pattern>/draws/*</url-pattern>
		<url-pattern>/sports/*</url-pattern>
		<url-pattern>/usstates/*</url-pattern>
		<url-pattern>/teams/*</url-pattern>
		<url-pattern>/years/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>jsp/index.jsp</welcome-file>
	</welcome-file-list>
	
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	
</web-app>