@media (max-width: 640px) {
* {
	box-sizing: border-box;
}
body {
	width: auto;
	margin: 0;
	padding: 0;
	font: 12x Verdana;
	background-color: #F7F7F7;
}
#logo, #flags, #menutop, #footer, #summary, #summary2, #errorlink, .toolbar, .scope, #addfav{
	display: none !important;
}
#content{
	width: 100%;
	margin: 0;
	padding: 3px;
	background-color: #FFF;
	border-top: 1px solid #AAA;
}
.title{
	padding: 5px;
	height: 27px;
}
.title div{
	height: 100%;
	padding-top: 1px;
	font-size: 12px;
}
table th, table td{
	white-space: nowrap;
}
.mobile100{
	max-width: 100%;
	overflow: auto;
}
.selmultiple img{
	display: none;
}
#mobilebar{
	display: flex !important;
	padding: 8px;
	padding-bottom: 0;
	height: 46px;
}
#title_m{
	width: 100%;
	text-align: center;
}
#title_m div{
	display: inline;
	vertical-align: middle;
}
#title_m div span{
	font: 24px Georgia;
	font-weight: bold;
	padding-left: 5px;
}
#shmenu{
	position: absolute;
	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s, opacity 0.6s linear;
	left: 0;
	top: 46px;
	width: 150px;
	background-color: #FFF;
	border: 1px solid #444;
	border-bottom: none;
}
#shmenu li{
	width: auto;
	margin-bottom: 0;
}
#shmenu li a{
	font-size: 13px;
	padding: 8px;
	padding-left: 35px;
	text-align: left;
	border: none;
	border-bottom: 1px solid #444;
	border-radius: 0;
	background-position: 8px center;
}
#shmenu.displayed{
	visibility: visible;
	opacity: 1;
}
#headertop{
	display: none;
	height: 36px;
	margin: 0;
	border-bottom: none;
}
#headertop.displayed{
	display: block;
}
#searchpanel{
	position: relative;
	float: none;
	width: 100%;
	margin: 0;
}
#searchpanel #dpattern{
	font: 14px Verdana;
	height: 30px;
	width: 100%;
}
#searchpanel table, #searchpanel td{
	width: 100%;
}
.ajaxsearch{
	font: 14px Verdana;
}
#home .flexline{
	flex-direction: column;
}
#home .homepanel{
	width: auto !important;
	background-color: #FFF;
}
#spaccess{
	display: none;
}
#spaccess_m{
	display: block;
}
#spaccess_m div.sport{
	display: inline-block;
	float: none;
	width: 48.5%;
	margin-right: 5px;
	margin-bottom: 5px;
	height: 36px;
	background-position: 5px center;
	text-align: left;
	border: 1px solid #DFDFDF;
	border-radius: 5px;
}
#spaccess_m div.sport a{
	display: block;
	padding-top: 10px;
	padding-left: 42px;
	color: #000;
}
#home #dupdates th, #home #dupdates td, #home #dupdates a{
	white-space: nowrap;
}
#statdiv1{
	float: none;
}
#statdiv1 table{
	margin: 0 auto;
}
#statdiv2{
	width: 100%;
	margin-top: 10px;
}
#results .spcpdiv, #results .evdiv, #results .yrdiv{
	display: block;
	width: auto;
	height: auto;
	border-right: none;
}
#results .slider{
	margin: 5px auto;
	width: 150px;
}
#browse .treediv{
	width: auto;
	border-right: none;
}
#treeview .nodetext{
	font-size: 12px;
}
#treeresults{
	display: none;
}
#calendar{
	height: auto;
}
#calendar li{
	display: block;
	width: 100%;
}
#calendar li table{
	margin: 0 auto;
}
#calendar .dateimg{
	width: 100%;
	padding-left: 0;
}
#calendar .dateimg div{
	width: 100%;
}
#calendar #spanbutton{
	padding-left: 0px;
	padding-top: 10px;
}
#calendar .ccaption{
	display: none;
}
#usleagues{
	height: auto;
}
#usleagues #usltype, #usleagues .league{
	display: block;
	width: auto;
	padding: 0;
	margin: 0 auto;
	margin-top: 10px;
	border: none;
}
#usleagues #usltype div{
	margin: 0 auto;
	margin-bottom: 15px;
}
#usleagues #usoptpanel{
	max-width: 100%;
	border: none;
}
#buttons{
	margin: 0;
	text-align: center;
}
#buttons #bleft{
	display: inline-block;	
	float: none;
	margin: 15px auto;
}
#buttons #bleft .button{
	margin-right: 0;
}
.render .info{
	margin-top: 8px;
}
.render .info .caption{
	padding-left: 5px;
}
}