.render{
	margin: 5px;
}
.render table{
	border-collapse: collapse;
	margin: 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}
.render th, .render td{
	border: 1px solid #CCC;
	padding: 3px;
	vertical-align: middle;
}
.render th{
	font-weight: bold;
	background-color: #EAEAEA;
	text-align: center;
	padding: 3px 10px;
}
.render td{
	text-align: left;
	white-space: nowrap;
}
.render a{
	color: #00C;
	text-decoration: none;
}
.render a:visited{
	color: #00C;
	text-decoration: none;
}
.render a:hover{
	color: #00C;
	text-decoration: underline;
}
.render th a, .render th a:visited, .render th a:hover{
	color: #000;
}
.render td table, .render th table{
	margin: 0;
	padding: 0;
	background-color: transparent;
}
.render th table{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
.render td table th, .render th table th{
	border: none;
	padding: 0;
	padding-right: 3px;
	background-color: transparent;
}
.render td table td, .render th table td, .render .info td table td{
	border: none;
	padding: 0;
	vertical-align: middle;
}
.render th table th{
	border: none;
	padding-left: 3px;
}
.render .vatop, .render td th img{
	vertical-align: top;
}
.render .bold{
	font-weight: bold;
	padding-left: 3px;
}
.render .bold a{
	font-weight: bold;
}
.render .bordered{
	background-color: #FFF;
}
.render .bordered img{
	border: 1px solid #CCC;
}
.render .hidden, .render span.title, .render span.desc, .render span.url, .render span.infostats{
	display: none;
}
.render #topbar{
	display: flex;
	width: 100%;
	margin-bottom: 15px;
}
.render .pathbar table, .render .pathbar th, .render .pathbar td{
	border: none;
	background-color: #FFF;
	margin: 0px;
	padding: 1px;
}
.render .pathbar{
	width: 100%;
}
.render .pathbar div{
	display: inline-block;
	vertical-align: middle;
}
.render .pathbar .arrow{
	background: #FFF url(../img/arrow.gif) left center no-repeat;
	padding-left: 10px;
	margin-left: 8px;
}
.render .toolbar table, .render .toolbar td{
	border: none;
	margin: 0px;
	padding: 1px;
}
.render #addfav{
	padding-left: 15px;
}
.render #winrec{
	margin: 25px auto;
	border: 1px solid #CCC;
}
.render #winrec td{
	border: none;
}
.render #winrec .caption{
	text-align: right;
	padding-left: 10px;
}
.render #winrec .count{
	font-weight: bold;
	padding: 5px 10px;
}
.render #winrec .bar1{
	background: url(../img/render/bar1.gif) right center no-repeat;
	width: 6px;
	height: 10px;
}
.render #winrec .bar2{
	background: url(../img/render/bar2.gif) left center repeat-x;
}
.render #winrec .bar3{
	background: url(../img/render/bar3.gif) left center no-repeat;
	width: 6px;
	height: 10px;
}
.render .uinfo{
	clear: right;
	margin: 0px auto;
	padding: 0px;
	margin-bottom: 10px;
	text-align: center;
}
.render .uinfo li{
	vertical-align: top;
	display: inline-block;
}
.render .info td.photo{
	text-align: center;
	white-space: nowrap;
}
.render .info td.photo img, .render .info td.photo li{
	display: inline-block;
	vertical-align: middle;
}
.render .info td.photo img{
	padding-bottom: 3px;
	max-height: 150px;
}
.render .info td.photo li{
	height: 168px;
	max-height: 168px;
	text-align: center;
	margin-right: 5px;
}
.render .info .enlarge{
	margin-left: auto;
	margin-right: auto;
}
.render .info .enlarge img{
	max-width: 14px;
	max-height: 14px;
}
.render .info{
	max-width: 850px;
	margin: 0px;
	border: 2px solid #999;
}
.render .info td{
	padding: 5px 5px;
	text-align: left;
}
.render .info .logo, .render .info .flag{
	text-align: center;
	padding: 5px 5px;
}
.render .info .logosport{
	text-align: center;
}
.render .info .flag img, .render .info .otherflags img{
	border: 1px solid #CCC;
	vertical-align: middle;
}
.render .info .logo img, .render .info .otherlogos img{
	vertical-align: middle;
}
.render .info .otherflags, .render .info .otherlogos{
	padding: 0px;
}
.render .info .otherflags img, .render .info .otherlogos img{
	margin-bottom: 2px;
}
.render .info .caption{
	padding-left: 20px;
	padding-right: 5px;
	text-align: right;
}
.render .margintop{
	margin-top: 2px;
}
.render .marginbottom{
	margin-bottom: 2px;
}
.render .ref{
	border: none;
	border-top: 1px solid #CCC;
	width: auto;
	padding-top: 0px;
	padding-bottom: 0px;
}
.render .ref legend{
	color: #333;
	font-weight: bold;
	margin: 10px;
}
.render .ref table{
	margin-top: 0px;
	margin-bottom: 15px;
}
.render .ref table table{
	margin-bottom: 0px;
}
.render .draw{
	width: 700px;
	height: 540px;
	background: #FFF url(../img/render/draw-bg3.gif) top left no-repeat;
}
.render .draw .box{
	position: absolute;
	z-index: 0;
}
.render .draw .boxresult{
	width: 33%;
	white-space: normal;
}
.render .draw .box table, .render .info .result table, .render .rounds table{
	border-collapse: collapse;
	background-color: transparent;
	width: 300px;
}
.render .draw .box table{
	background-color: #FFF;
}
.render .draw .box td table, .render .info .result td table, .render .rounds td table{
	width: auto;
	border: none;
}
.render .draw .box td, .draw .box th, .render .info .result td, .render .info .result th, .render .rounds td, .render .rounds th{
	font-size: 12px;
	border: 1px solid #CCC;
	text-align: left;
	padding: 2px 2px;
}
.render .draw .box td, .draw .box th{
	border: 1px solid #CCC;
}
.render .info .result td, .render .info .result th, .render .rounds td, .render .rounds th{
	padding: 3px 3px;
}
.render .info #titlename{
	border-bottom: 2px solid #999;
	padding: 4px;
}
.render .info #titlename2{
	font-style: italic;
	text-align: center;
}
.render .draw .box th, .render .info .result th, .render .rounds th{
	font-size: 11px;
	text-align: left;
	font-weight: bold;
	background-color: #EEE;
}
.render .draw .box td table td, .render .info .result td table td, .render .rounds td table td{
	border: none;
	padding: 0px;
}
.render .draw .box td table th, .render .info .result td table th, .render .rounds td table th{
	border: none;
	background-color: transparent;
	padding: 0px;
	padding-right: 3px;
}
.render .rounds td{
	white-space: nowrap;
}
.render .rounds td table{
	background-color: transparent;
}
.render .rounds tr:hover td{
	background-color: #FFD;
}
.render .box:hover tr{
	background-color: #FFD;	
}
.render .box2, .render .box4{
	margin-left: 400px;
}
.render .box7{
	margin-left: 520px;
}
.render .box3, .render .box4{
	margin-top: 440px;
}
.render .box5, .render .box6, .render .box8{
	margin-left: 200px;
}
.render .box8, .render .box7{
	margin-top: 220px;
}
.render .box5{
	margin-top: 110px;
}
.render .box6{
	margin-top: 330px;
}
.render .box8 table{
	border: 2px solid #999;
}
.render .tsort tr:hover{
	background-color: #FFD;
}
.render .tsort tr:hover td[rowspan]{
	background-color: #FFF;
}
.render .tsort table tr:hover, .render .tsort .moreitems:hover, #dupdates .tsort .moreitems:hover{
	background-color: transparent;
}
.render .noresult{
	width: auto;
	margin-top: 40px;
	padding: 5px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #000;
	background: #FDD url(../img/render/noresult.png) 5px center no-repeat;
}
/*.render .info td{
	text-align: center;
}*/
.render .info td.record table{
	border-collapse: collapse;
	margin: 0px;
}
.render .info td.record th, .render .info td.record td, .render .info td.extlinks th, .render .info td.extlinks td{
	text-align: center;
	width: 25px;
	padding: 3px;
	border: 1px solid #CCC;
	border-collapse: collapse;
	vertical-align: middle;
}
.render .info td.record th, .render .info td.extlinks th{
	font-weight: bold;
	background-color: #EEE;
}
.render .info td.record th{
	width: 28px;
}
.render .info td.record td, .render .info td.extlinks td{
	white-space: nowrap;
}
.render .info .extlinks{
	padding: 2px;
}
.render .info .extlinks table th, .render .info .extlinks table td{
	font-weight: normal;
	border: none;
	background-color: #FFF;
	text-align: left;
}
.render .info .extlinks td table td{
	padding: 0px;
	border: none;
}
.render .info .result{
	width: 500px;
	background-color: #F9F9F9;
}
.render .info .result td{
	background-color: #FFF;
}
.render .info .result tr:hover td{
	background-color: #FFD;
}
.render .info .result tr:hover td[rowspan]{
	background-color: #FFF;
}
.render .info .result table.tsort{
	width: auto;
	margin: auto auto;
}
.render .searchtitle{
	background: url(../img/menu/dbsearch.png) left 0px no-repeat;
	padding-left: 20px;
	height: 20px;
}
.render .border1{
	border: 1px solid #CCC;
}
.render div.centered{
	margin: 0px auto;
}
.render td.centered{
	text-align: center;
}
.render #calmonth{
	margin-left: 16px;
	margin-top: 2px;
}
.render #calmonth li{
	vertical-align: middle;
	display: list-item;
	list-style-image: url(../img/bullet.gif?6);
}
.render #finalresult, .render #finalresult th, .render #finalresult td{
	border: none;
	background-color: #FFF;
}
.render .finalscore{
	padding: 15px;
	font-weight: bold;
}
.render #othyears{
	width: 410px;
	padding: 6px;
	margin-bottom: 10px;
}
.render .chaptertitle{
	padding: 5px;
	padding-bottom: 3px;
	margin-bottom: 10px;
	font: 16px Georgia;
	font-weight: bold;
	border-bottom: 2px solid #BBB;
	text-align: center;
}
tr.rsort th{
	cursor: pointer;
	text-decoration: none;
}
tr.rsort th:hover, .render tr.rsort th:hover td{
	text-decoration:  underline;
}
th.sorted{
	padding: 1px 20px 1px 10px;
	border-color: #444;
	background-color: #666;
	color: #FFF;
	background-repeat: no-repeat;
	background-position: right center;
}
th.asc{
	background-image: url(../img/render/sort-asc.png?4);
}
th.desc{
	background-image: url(../img/render/sort-desc.png?4);
}
.moreitems td{
	text-align: center;
	padding: 0px;
}
.moreitems div{
	float: left;
	font-style: italic;
	width: 33.33%;
	padding-top: 2px;
	cursor: pointer;
	text-align: center;
	height: 18px;
	background: transparent url(../img/render/more4.gif) 0 0 no-repeat;
}
.moreitems div:hover{
	background-color: #FFA;
}
.moreitems .sfdiv1{
	background: transparent url(../img/render/more.gif) left 2px no-repeat;
}
.small{
	font-size: 11px;
}
.plist{
	font-size: 11px;
}
.vcenter li{
	display: inline-block;
	vertical-align: middle;
}
.vcenter li img{
	margin-bottom: -1px;
}
.underline{
	text-decoration: underline;
}
.nowrap{
	white-space: nowrap;
}
.wrap, .wrap a{
	white-space: normal;
}
#errorlink{
	padding: 5px;
	margin-bottom: -5px;
}
#errorlink a{
	font-size: 11px;
}
.ertip{
	cursor: help;
	background: url(/img/db/error.png) left top no-repeat;
	padding: 1px;
	padding-left: 20px;
	padding-right: 20px;
}
.highlight td{
	font-weight: bold;
}
.medal{
	padding-right: 18px;
	background-repeat: no-repeat;
	background-position: right center;
}
.gold{
	background-image: url(../img/render/gold.png);
}
.silver{
	background-image: url(../img/render/silver.png);
}
.bronze{
	background-image: url(../img/render/bronze.png);
}
#summary, #summary2{
	position: absolute;
	top: 90px;
	border: 1px solid #CCC;
	background-color: #FFF;
	padding: 5px;
}
#summary{
	left: 160px;
}
#summary2{
	right: 20px;
	text-align: center;
}
#summary2 span{
	font-weight: bold;
}	
.bullet{
	color: #999;
	padding: 0px 2px;
}
.nopadding{
	padding: 0px 0px;
}
.nopadding td{
	padding: 0px 0px;
}
.details{
	float: right;
	vertical-align: middle;
	margin-top: 1px;
}