.shmenu li a.menuhome:hover{
	background-color: #FFF;
	text-decoration: underline;
}
.shmenu li a.menudb:hover, #dbsubmenu li a:hover{
	background-color: #FFF;
	text-decoration: underline;
}
.shmenu li a.menudl:hover{
	background-color: #FFF;
	text-decoration: underline;
}
.shmenu li a.menuproject:hover, #projectsubmenu li a:hover{
	background-color: #FFF;
	text-decoration: underline;
}
.shmenu li a.menuforum:hover{
	background-color: #FFF;
	text-decoration: underline;
}
.shmenu li a.menulogin:hover, .shmenu li a.menuupdate:hover, #updatesubmenu li a:hover{
	background-color: #FFF;
	text-decoration: underline;
}
.shmenu li.selected a:hover {
	background-color: #FFF;
}
.sporthenonsubmenu li a{
	display: inline-block;
}
.downarrowpointer{
	display: none;
}
.rightarrowpointer{
	padding-right: 3px;
}