.tc table{
	border-collapse: collapse;
	margin: 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}
.tc th, .tc td{
	border: 1px solid #666;
	padding: 3px;
	vertical-align: middle;
}
.tc th{
	font-weight: bold;
	background-color: #FFC;
	text-align: center;
	padding: 3px 10px;
}
.tc td{
	text-align: left;
}
.tc a{
	color: #00C;
	text-decoration: none;
}
.tc a:visited{
	color: #00C;
	text-decoration: none;
}
.tc a:hover{
	color: #00C;
	text-decoration: underline;
}
.tc td table, .tc th table{
	margin: 0;
	padding: 0;
	background-color: transparent;
}
.tc th table{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
.tc td table th, .tc th table th{
	border: none;
	padding: 0;
	padding-right: 3px;
	background-color: transparent;
}
.tc td table td, .tc th table td, .tc .info td table td{
	border: none;
	padding: 0;
}
.tc th table th{
	border: none;
	padding-left: 3px;
}
.tc .centered{
	text-align: center;
}
.tc .bold{
	font-weight: bold;
	padding-left: 3px;
}
.tc .bold a{
	font-weight: bold;
}
.tc .bordered{
	background-color: #FFF;
}
.tc .bordered img{
	border: 1px solid #666;
}
.tc .hidden, .tc span.title, .tc span.url, .tc span.infostats{
	display: none;
}
.tc .header{
	float: left;
	margin: 0px;
}
.tc .header table, .tc .toolbar table{
	background-color: transparent;
	margin: 0px;
}
.tc .header td, .tc .toolbar td{
	border: none;
	padding: 0px;
}
.tc .header .arrow{
	width: 18px;
	background: url(../img/arrow.gif) center center no-repeat;	
}
.tc .toolbar{
	float: right;
}
.tc .toolbar td{
	padding: 1px;
}
.tc .separatortop{
	float: left;
	width: 100%;
	margin: 0px;
	margin-bottom: 10px;
}
.tc .winrec{
	margin-bottom: 5px;
	border: 1px solid #666;
}
.tc .winrec td{
	border: none;
}
.tc .winrec .caption{
	text-align: right;
	padding-left: 10px;
}
.tc .winrec .count{
	font-weight: bold;
	padding: 5px 10px;
}
.tc .winrec .bar1{
	background: url(../img/render/bar1.gif) left center no-repeat;
}
.tc .winrec .bar2{
	background: url(../img/render/bar2.gif) left center repeat-x;
}
.tc .winrec .bar3{
	background: url(../img/render/bar3.gif) right center no-repeat;
}
.tc .toggleimg{
	cursor: pointer;
	padding-right: 3px;
}
.tc .toggletext{
	cursor: pointer;
}
.tc .toggletext:hover{
	text-decoration: underline;
}
.tc .info{
	margin-top: 5px;
	margin-bottom: 10px;
	border: 2px solid #000;
}
.tc .info td{
	padding: 5px 5px;
	text-align: left;
}
.tc .info td table{
	/*margin: auto;*/
}
.tc .info .logo, .tc .info .flag{
	padding: 5px 5px;
}
.tc .info .flag img, .tc .info .otherflags img{
	border: 1px solid #666;
}
.tc .info .otherflags, .tc .info .otherlogos{
	padding: 0px;
}
.tc .info .caption{
	padding-left: 20px;
	padding-right: 5px;
	text-align: right;
}
.tc .margintop{
	margin-top: 2px;
}
.tc .marginbottom{
	margin-bottom: 2px;
}
.tc .ref{
	border: none;
	border-top: 1px solid #AAA;
	width: auto;
	padding-top: 0px;
	padding-bottom: 0px;
}
.tc .ref legend{
	color: #333;
	font-weight: bold;
	margin: 10px;
}
.tc .ref table{
	margin-top: 0px;
	margin-bottom: 15px;
}
.tc .ref table table{
	margin-bottom: 0px;
}
.tc .celldraw{
	background-color: #F8F8F8;
	padding-left: 15px;
}
.tc .draw{
	height: 540px;
	background: transparent url(../img/render/draw-bg3.gif) top left no-repeat;
	margin-top: 15px;
}
.tc .draw .box{
	position: absolute;
	z-index: 0;
}
.tc .draw .box table, .tc .info .result table{
	border-collapse: collapse;
	background-color: #FFF;
	width: 300px;
}
.tc .draw .box td table, .tc .info .result td table{
	width: auto;
	border: none;
}
.tc .draw .box td, .draw .box th, .tc .info .result td, .tc .info .result th{
	font-size: 12px;
	border: 1px solid #666;
	text-align: left;
	padding: 2px 2px;
}
.tc .draw .box th, .tc .info .result th{
	font-size: 11px;
	text-align: left;
	font-weight: bold;
	background-color: #EEE;
}
.tc .draw .box td table td, .tc .info .result td table td{
	border: none;
	padding: 0px;
}
.tc .draw .box td table th, .tc .info .result td table th{
	border: none;
	background-color: #FFF;
	padding: 0px;
	padding-right: 3px;
}
.tc .qf2, .tc .qf4{
	margin-left: 400px;
}
.tc .thd{
	margin-left: 520px;
}
.tc .qf3, .tc .qf4{
	margin-top: 440px;
}
.tc .sf1, .tc .sf2, .tc .f{
	margin-left: 200px;
}
.tc .f, .tc .thd{
	margin-top: 220px;
}
.tc .sf1{
	margin-top: 110px;
}
.tc .sf2{
	margin-top: 330px;
}
.tc .f table{
	border: 2px solid #333;
}
.tc .tsort tr:hover, #dupdates .tsort tr:hover{
	background-color: #BEE0FF;
}
.tc .tsort table tr:hover, .tc .tsort .moreitems:hover, #dupdates .tsort .moreitems:hover{
	background-color: transparent;
}
.tc .noresult{
	width: auto;
	margin-top: 40px;
	padding: 5px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #000;
	background: #FDD url(../img/render/noresult.gif) 2px center no-repeat;
}
.tc .info td.record {
	text-align: center;
}
.tc .info td.record table{
	border-collapse: collapse;
	margin: 0px;
}
.tc .info td.record  th, .tc .info td.record td, .tc .info td.extlinks  th, .tc .info td.extlinks td{
	text-align: center;
	width: 25px;
	padding: 3px;
	border: 1px solid #CCC;
	border-collapse: collapse;
	vertical-align: middle;
}
.tc .info td.record th, .tc .info td.extlinks th{
	font-weight: bold;
	background-color: #EEE;
}
.tc .info td.record th{
	width: 28px;
}
.tc .info td.record td, .tc .info td.extlinks td{
	white-space: nowrap;
}
.tc .info .extlinks td table{
	margin: auto;
}
.tc .info .extlinks td table td{
	padding: 0px;
	border: none;
}
.tc .info .result{
	width: 500px;
}
.tc .info .result table{
	width: auto;
}
.tc .searchtitle{
	background: url(../img/menu/dbsearch.png) left 0px no-repeat;
	padding-left: 20px;
	height: 20px;
}
tr.rsort th{
	cursor: pointer;
	text-decoration: none;
}
tr.rsort th:hover, .tc tr.rsort th:hover td{
	text-decoration:  underline;
}
th.sorted{
	padding: 1px 20px 1px 10px;
	border: 2px solid #333;
	background-color: #FE0;
	background-repeat: no-repeat;
	background-position: right center;
}
th.asc{
	background-image: url(../img/render/sort-asc.png);
}
th.desc{
	background-image: url(../img/render/sort-desc.png);
}
.moreitems td{
	text-align: center;
	padding: 0px;
}
.moreitems div{
	float: left;
	font-style: italic;
	width: 33.33%;
	padding-top: 2px;
	cursor: pointer;
	text-align: center;
	height: 18px;
	background: transparent url(../img/render/more3.gif) 0 0 no-repeat;
}
.moreitems div:hover{
	background-color: #BEE0FF;
}
.moreitems .sfdiv1{
	background: transparent url(../img/render/more.gif) left 2px no-repeat;
}