body{
	background: #F5F5F5 url(../img/header/bg2.png?5) 0 0 repeat-y;
	margin: 0;
	padding: 0;
}
body.print{
	background: #F5F5F5;
}
/* ========== COMMON ========== */
.separator{
	height: 1px;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	background-color: #BBB;
	border: 0;
}
.separator{
	margin: 6px 0px;
}
a{
	color: #00C;
	text-decoration: none;
}
a:visited{
	color: #00C;
	text-decoration: none;
}
a:hover{
	color: #00C;
	text-decoration: underline;
}
a:focus{
	outline: none;
}
input{
	outline: none;
}
.fieldset{
	background: #FFF;
	text-align: left;
	border: 1px solid gray;
	margin: 3px 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	width: auto;
}
.fieldset .fstitle{
	font-weight: bold;
	border-bottom: 1px solid gray;
	background-color: #FFC;
	padding: 4px;
	padding-left: 23px;
	background-position: 3px center;
	background-repeat: no-repeat;
}
.fieldset .fscontent{
	padding: 8px;
}
.fscontent table{
	width: 100%;
	border-collapse: collapse;
}
.fscontent th, .fscontent td{
	text-align: left;
	padding: 3px;
	border: 1px solid #CCC;
	border-collapse: collapse;
	vertical-align: middle;
}
.fscontent th{
	font-weight: bold;
	background-color: #EEE;
}
.fieldset .fscontent ul{
	margin: 5px;
	padding-left: 20px;
}
.fieldset .fscontent li{
	list-style-image: url(../img/bullet.gif?0);
}
.legend{
	margin-top: -12px;
	background-color: #FFFFFF;
	display: table;
	padding-left: 2px;
}
.legend input{
	padding: 0;
	margin: 0;
}
.legend td{
	padding: 0;
	border: none;
}
.tip{
	font: 12px Verdana;
	text-align: left;
	border: 1px solid #000;
	background-color: #FFC;
	padding: 3px;
}
.bold{
	font-weight: bold;
}
.loading{
	width: 100%;
	background: #FFF url(../img/db/loading.gif?0) center center no-repeat;
	width: 180px;
	height: 80px;
	margin: 0 auto;
	margin-top: 12px;
	border: 1px solid #AAA;
}
#optionspanel{
	width: 190px;
	margin-top: 25px;
}
#optionspanel table{
	margin: 2px 5px;
}
#optionsselect{
	display: none;
}
.criteria{
	background-image: url(../img/db/criteria.png?3);
}
/* ========== HEADER/MENU ========== */
#header{
	float: left;
}
#headertop{
	height: 50px;
	margin-left: 244px;
	margin-bottom: 0px;
	border-bottom: 1px solid #888;
}
#menutop{
	font: 12px Verdana;
	float: left;
	margin-top: 28px;
	margin-left: 4px;
}
#menutop div{
	float: left;
	height: 16px;
	padding: 2px;
	padding-left: 20px;
	margin-right: 6px;
}
#menutop #mthome{
	background: url(../img/menu/home.png) left 0 no-repeat;
}
#menutop #mtproject{
	background: url(../img/menu/project.png) left 0 no-repeat;
	margin-right: 7px;
}
#menutop #mtcontribute{
	background: url(../img/menu/contribute.png) left 0 no-repeat;
	margin-right: 5px;
}
#menutop #mtlogin{
	background: url(../img/menu/login.png) 1px 0 no-repeat;
}
#menutop #mtlogout{
	background: url(../img/menu/logout.png) 1px 0 no-repeat;
}
#menutop #mtupdate{
	background: url(../img/menu/update.png) left 0 no-repeat;
}
#flags{
	padding: 2px;
	text-align: right;
}
#headertop #searchpanel{
	float: right;
	margin-top: 1px;
	margin-right: 5px;
}
#headertop #searchpanel td{
	padding: 1px;
}
#headertop #searchpanel input{
	width: 200px;
}
#logo{
	margin: 12px;
	margin-top: 12px;
	margin-bottom: 10px;
	width: 210px;
}
#logo img{
	padding-bottom: 5px;
	border: none;
}
#shmenu{
	width: 245px;
	list-style-type: none;
	text-align: right;
	padding-bottom: 0px;
	font: 12px Verdana;
}
#shmenu ul{
	margin: 0px;
	padding: 0;
}
#shmenu li{
	list-style: none;
	margin: 0;
	margin-bottom: 25px;
	padding-left: 60px;
	padding-right: 60px;
	text-align: center;
}
#shmenu li a{
	display: block;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	margin-left: 2px;
	padding: 5px 8px;
	padding-top: 25px;
	padding-right: 4px;
	border: 1px solid #000;
	background-color: #FAFAFA;
	background-position: center 6px;
	background-repeat: no-repeat;
}
#shmenu a.selected{
	border-right: 1px solid #FAFAFA;
}
#shmenu a:hover, #shmenu a.selected{
	border-right: 1px solid #000;
	color: #FFF;
}
#shmenu-results{
	background-image:url(../img/menu/dbresults.png?3);
}
#shmenu-results:hover, #shmenu-results.selected{
	background-color: #389f47;
}
#shmenu-olympics{
	background-image:url(../img/menu/dbolympics.png?3);
}
#shmenu-olympics:hover, #shmenu-olympics.selected{
	background-color: #1482c5;
}
#shmenu-usleagues{
	background-image:url(../img/menu/dbusleagues.png?3);
}
#shmenu-usleagues:hover, #shmenu-usleagues.selected{
	background-color: #de1f26;
}
#share{
	text-align: center;
	font: 11px Verdana;
	margin-top: 40px;
}
#share table{
	margin-left: auto;
	margin-right: auto;
}
#footer img{
	border: none;
	margin-top: 2px;
	margin-bottom: 5px;
}
#version{	
	width: 220px;
	text-align: right;
	padding: 8px;
	padding-top: 2px;
	margin-bottom: 10px;
	font: 11px Verdana;
	color: #888;
}
#content{
	font: 12px Verdana;
	margin: 0px;
	margin-top: 0px;
	margin-left: 244px;
	padding: 3px;
	padding-top: 3px;
	border: 1px solid transparent;
	border-left: 1px solid #888;
	background-color: #F5F5F5;
}
#content select, #content input{
	font: 12px Verdana;
}
.print #content{
	font: 11px Verdana;
	margin: 0px;
	padding: 0px;
	margin-left: 0px;
	border: 0px solid transparent;
}
#dupdates{
	width: 100%;
	margin-top: 5px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
}
#dupdates tr:hover{
	background-color: #BDE0FF;
}
#dupdates td{
	padding: 0px 3px;
}
#dupdates td td, #dupdates td td td{
	padding: 0px 0px;
}
#dupdates td table{
	width: auto;
	margin: 0px;
}
#dupdates td th, #dupdates td td{
	border: none;
	background-color: transparent;
}
#ctupdates{
	width: auto;
	margin-bottom: 5px;
}
#ctupdates td{
	border: none;
	padding: 0px;
}
#ctupdates input{
	border: 1px solid #CCC;
}
#ctupdates input.selected{
	border: 1px solid #D00;
}
#footer{
	height: 50px;
	padding: 5px;
	padding-left: 0px;
	margin-left: 244px;
	border-top: 1px solid #888;
	font: 11px Verdana;
}
/* ========== TABCONTROL ========== */
#tabcontrol{
	margin: 10px;
}
.tabbar{
	list-style: none;
	margin: 0 0 0px 0;
	padding: 0;
	height: 19px;
}
.tabbar li{
	float: left;
	margin-right: 3px;
	text-align: center;
}
.tabbar li a{
	display: block;
	height: 15px;
	padding: 3px 4px 0px 5px;
	margin-bottom: 1px;
	background-color: #D6D6D6;
	color: #333;
	width: auto;
	border: 1px solid #AAA;
	text-decoration: none;
}
.tabbar li a:hover{
	background-color: #F3F3F3;
}
.tabbar li a.active{
	background-color: #F3F3F3;
	font-weight: bold;
	color: #000;
	border-bottom: 1px solid #F3F3F3;
}
.tabbar li a.active span{
	font-weight: bold;
}
.tabbar li img{
	border: none;
	padding-left: 5px;
}
.tc{
	margin: 0px;
	padding: 10px 10px;
	border: 1px solid #AAA;
	background-color: #F5F5F5;
}
.print .tc{
	border: none;
}
#link-add a {
	background: #D6D6D6 url(../img/component/tabcontrol/add.png) center center no-repeat;
	width: 12px;
}
#link-add a:hover {
	background-color: #F5F5F5;
}
/* ========== SLIDER ========== */
.slider .arrow{
	float: left;
	width: 23px;
	padding-top: 25px;
}
.slider .slider-control{
	border: 1px solid #E8E8E8;
	background-color: #F9F9F9;
	cursor: pointer;
	padding: 20px 0px;
	padding-top: 24px;
}
.slider .slider-control:hover{
	border: 1px solid #000;
	background-color: #F0F0F0;
}
.slider .container{
	float: left;
	overflow: hidden;
	text-align: center;
	border: none;
}
.slider .slide{
    float: left;
}
/* ========== SELECT-MULTIPLE ========== */
.selmultiple{
	position: relative;
}
.selmultiple table{
	margin: 0px !important;
}
.optcontainer{  
	position: absolute;  
	top: 0;  
	left: 0;
	z-index: 500;  
	border: 1px solid #222;
	background: #FFF;
}
.optcontainer .header{  
	color: #FFF;  
	font-weight: bold;
	margin: 0;  
	padding: 3px;  
	background-color: #555;
	border-bottom: 1px solid #222;
	text-align: left;
} 
.optcontainer .scroll{
	height: 200px;
	overflow-y: scroll;
}
.optcontainer .scroll td{
	padding: 0px 3px !important;
	border-bottom: 1px solid #DDD !important;
}
.optcontainer .scroll td.name{
	width: 100%;
	cursor: pointer;
	text-align: left !important;
}
.optcontainer .scroll tr.over{
	background-color: #EEE;
}
.optcontainer .scroll tr.selected{
	background-color: #FFA;
}
.optcontainer .scroll tr.selected td{
	font-weight: bold;
}
.optcontainer .btnpanel{
	border-top: 1px solid #222;
	text-align: right;
	padding: 2px;
}
.optcontainer .btnpanel input.button{
	height: 25px;
	margin: 0px;
	margin-left: 2px;
	background-color: #E5E5E5;
	background-position: 3px center;
	background-repeat: no-repeat;
	padding-left: 22px;
	cursor: pointer;
	border: 1px solid #AAA;
}
.optcontainer .btnpanel input.button:hover{
	color: #FFF;
	background-color: #444;
}
.optcontainer .btnpanel .applyall{
	float: left;
	padding: 2px;
}
/* ========== BUTTONS ========== */
#buttons{
	width: 100%;
	height: 25px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
}
#buttons #bleft{
	float: left;
}
#buttons #bright{
	float: right;
}
#buttons .clear{
    overflow: hidden;
    width: 100%;
}
#buttons .button, .toolbar .button, #lupdatesok, #logindiv .button, #update .button{
	height: 25px;
	margin: 0px;
	background-color: #E5E5E5;
	background-position: 3px center;
	background-repeat: no-repeat;
	padding-left: 22px;
	cursor: pointer;
	border: 1px solid #AAA;
}
#buttons #bleft .button{
	margin-right: 3px;
}
#buttons #bright .button, .toolbar .button, #lupdatesok{
	margin-left: 2px;
}
#buttons .button:hover, .toolbar .button:hover, #lupdatesok:hover, #logindiv .button:hover, #update .button:hover{
	color: #FFF;
	background-color: #444;
}
#buttons .execute{
	background-image: url('../img/component/button/execute.png?3');
	padding-left: 24px;
	font-weight: bold;
}
#buttons .reset{
	background-image: url('../img/component/button/reset.png?3');
}
#buttons .options{
	background-image: url('../img/component/button/options.png?3');
}
#toolbar .add, .toolbar .add{
	background-image: url('../img/component/button/add.png?3');
}
#toolbar .export, .toolbar .export{
	background-image: url('../img/component/button/export.png?3');
}
#buttons .link, .toolbar .link{
	background-image: url('../img/component/button/link.png?3');
}
#buttons .print, .toolbar .print{
	background-image: url('../img/component/button/print.png?3');
}
#buttons .info2, .toolbar .info2{
	background-image: url('../img/component/button/info.png?3');
}
#lupdatesok{
	background-image: url('../img/component/button/ok.png?3');
	background-position: 4px center;
}
/* ========== TREEVIEW ========== */
#treeview{
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	border: none;
	margin-left: -5px;
	margin-bottom: 0px;
	padding-left: 3px;
}
#treeview table{
	/*width: 100%;*/
}
#treeview td{
	text-align: left;
	border: none;
	padding: 0px;
}
#treeview a{
	color: black;
}
#treeview .nodetext{
	padding-left: 2px;
	cursor: pointer;
}
#treeview .over {
	text-decoration: underline;
}
/* ========== HOME ========== */
#home{
	margin: 6px 10px;
}
.homecontent .fieldset .fstitle{
	font-weight: bold;
	border-bottom: 1px solid gray;
	background-color: #FFC;
	padding: 5px;
	padding-left: 23px;
	padding-bottom: 4px;
	background-position: 4px 4px;
	background-repeat: no-repeat;
}
.homecontent .fieldset .fscontent{
	padding: 10px;
}
.homecontent hr {
  height: 1px;
  margin: 8px 0px;
  padding: 0px;
  border: 0px;
  background-color: gray;
}
.homecontent #topics table{
	width: auto;
	margin-top: 6px;
	border-collapse: separate;
}
.homecontent #topics td{
	width: 90px;
	font-weight: bold;
	padding: 5px;
	padding-left: 25px;
	border: 1px solid #DDD;
	cursor: pointer;
	background-color: #FFF;
	background-position: 6px center;
	background-repeat: no-repeat;
}
.homecontent #topics td:hover{
	color: #FFF;
	border: 1px solid #000;
}
.homecontent #topics td.results{
	background-image:url(../img/menu/dbresults.png?3);
}
.homecontent #topics td.results:hover{
	background-color: #389f47;
}
.homecontent #topics td.olympics{
	background-image:url(../img/menu/dbolympics.png?3);
}
.homecontent #topics td.olympics:hover{
	background-color: #1482c5;
}
.homecontent #topics td.usleagues{
	background-image:url(../img/menu/dbusleagues.png?3);
}
.homecontent #topics td.usleagues:hover{
	background-color: #de1f26;
}
.homecontent #topics #details{
	border: none;
	width: auto;
	font-weight: normal;
	padding: 5px;
	padding-left: 15px;
	background: transparent url(../img/render/more2.gif) left center no-repeat;
}
.homecontent #sports{
	margin-top: 8px;
	overflow: auto;
}
.homecontent .slider .arrow{
	padding-top: 52px;
}
.homecontent .slider .slider-control{
	padding: 45px 0px;
	padding-top: 52px;
}
.homecontent #sports div.sport{
	float: left;
	width: 105px;
	border: 1px solid #FFF;
	text-align: center;
	padding: 1px;
	font-weight: bold;
	background-position: center top;
	background-repeat: no-repeat;
}
.homecontent #sports div.sport:hover{
	border: 1px solid #000;
	background-color: #FFD;
}
.homecontent #sports div.sport a{
	display: block;
	padding-top: 100px;
	color: #000;
}
.homecontent #sports div.sport a:hover{
	text-decoration: none;
}
.homecontent h3{
	margin: 0px;
}
.homecontent .info{
	background-image: url(../img/iconfav.png?4);
}
.homecontent .contact{
	background-image: url(../img/contact.png?3);
}
.homecontent .statistics{
	background-image: url(../img/project/statistics.png?3);
}
.homecontent .lastupdates{
	background-image: url(../img/calendar.png?3);
}
.homecontent .news{
	background-image: url(../img/news.png?3);
}
#home .stat{
	text-align: right;
	font-weight: bold;
}
/* ========== RESULTS ========== */
/* ---------- PICKLIST ---------- */
#tree{
	float: left;
	width: 368px;
	height: 245px;
	margin-left: 10px;
	margin-right: 5px;
}
#results{
	height: 245px;
	margin-left: 390px;
	margin-right: 10px;
}
#results .spcpdiv{
	float: left;
	width: 200px;
	height: 210px;
	border-right: 1px solid #BBB;
	padding-left: 3px;
	padding-right: 5px;
	margin: 3px;
	background: #FFF url(../img/column.png?3) 37px 152px no-repeat;
}
#results .spcpdiv table{
	width: 100%;
}
#results .slider{
	margin-top: 0px;
	margin-left: 25px;
}
#results .slide{
	border: none;
	background-color: #FFF;
	background-position: center top;
	background-repeat: no-repeat;
}
#results .arrow{
	margin-top: 14px;
}
#results select{
	width: 100%;
}
#results .evdiv{
	float: left;
	width: 290px;
	height: 182px;
	padding: 0px 0px;
	padding-right: 6px;
	margin: 3px;
	margin-left: 0px;
}
#results .evdiv table{
	width: 100%;
}
#results .evdiv td{
	text-align: right;
	border: none;
	padding: 1px;
}
#tree .treediv{
	float: left;
	padding: 3px 8px;
	margin: 3px;
	margin-left: 3px;
}
#tree #treeview{
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	width: 350px;
	background-color: #FFF;
	border: 1px solid #DDD;
}
#tree .treediv .expanded{
	height: auto;
	border-right: 1px solid #DDD;
}
#tree .treediv .collapsed{
	height: 207px;
	border-right: none;
}
#tree .treetitle{
	background-image: url(../img/db/tree.png?3);
}
/* ========== OLYMPICS ========== */
#olympics{
	margin-left: 10px;
	margin-right: 10px;
	height: 290px;
}
#olympics #oltype{
	float: left;
}
#olympics #oltype div{
	float: left;
	width: 175px;
	margin: 6px 6px;
	margin-right: 0px;
	padding: 3px;
	border: 1px solid #FFF;
	text-align: center;
	cursor: pointer;
}
#olympics #oltype input{
	cursor: pointer;
}
#olympics #oltype div:hover{
	border: 1px solid #000;
	background-color: #FFC;
}
#olympics .fieldset{
	float: left;
	width: 460px;
	height: 242px;
	margin: 6px 6px;
	margin-bottom: 0px;
	padding: 5px;
}
#slider-summer-ol .arrow, #slider-winter-ol .arrow{
	padding-top: 20px;
	padding-left: 3px;
	width: 22x;
}
#slider-summer-ol .slider-control, #slider-winter-ol .slider-control{
	padding: 10px 0px;
	padding-top: 19px;
}
#olympics table img{
	border: none;
}
#olympics table{
	width: 100%;
}
#olympics td{
	border: none;
	padding: 0;
}
#olympics .select, #olympics select{
	width: 100%;
}
#olympics .separator{
	margin-bottom: 1px;
}
#olympics #summer-q1 .arrow, #olympics #winter-q1 .arrow{
	margin-top: 14px;
}
/* ========== US LEAGUES ========== */
#usleagues{
	height: 215px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
	background: #FFF url(../img/column.png?3) 28px 150px no-repeat;
	overflow-x: auto;
}
#usleagues .league{
	float: left;
	margin: 18px 0px;
	margin-right: 5px;
	width: 195px;
	text-align: center;
}
#usleagues .league .slider{
	margin-left: 20px;
}
#usleagues .league .slide{
	background-color: #FFF;
	background-position: center top;
	background-repeat: no-repeat;
}
#usleagues .league .arrow{
	margin-top: 25px;
}
#usleagues #usltype{
	float: left;
	padding: 10px;
	padding-left: 0px;
	margin-top: 8px;
}
#usleagues #usltype div{
	width: 300px;
	border: 1px solid #CCC;
	margin-bottom: 15px;
	padding: 5px; 
	font-weight: bold;
	cursor: pointer;
}
#usleagues #usltype div:hover, #usleagues #usltype .selected{
	border: 1px solid #000;
	background-color: #FFC;
}
#usleagues #usstype{
	margin: 10px;
	margin-right: 0px;
}
#usleagues #usstype td{
	border: 1px solid #FFF;
	padding: 3px;
	padding-right: 5px;
	font-weight: bold;
	cursor: pointer;
}
#usleagues #usstype td:hover, #usleagues #usstype .selected{
	border: 1px solid #000;
	background-color: #FFC;
}
#ustopics{
	text-align: left;
	float: left;
	margin: 10px;
	margin-right: 0px;
	padding: 5px;
}
#ustopics td{
	padding: 1px;
	border: none;
}
#ustopics .select, #ustopics select{
	width: 100%;
}
#ustopics .text input{
	width: 35px;
}
#ustopics img{
	border: none;
}
#ustopics #hof-position, #ustopics #retnum-number{
	border: 1px solid #CCC;
}
#ustopics #hof-position.selected, #ustopics #retnum-number.selected{
	border: 1px solid #D00;
}
/* ========== SEARCH ========== */
#search{
	background: #FFF;
	height: 160px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
}
#search .pattern{
	float: left;
	margin: 4px;
	padding-left: 3px;
	width: 330px;
}
#search .pattern input, #headertop .pattern input, #logindiv input{
	border: 1px solid #CCC;
	font-size: 13px;
}
#search .pattern input:focus, #headertop .pattern input:focus{
	border: 1px solid #D00;
}
#search #pattern{
	width: 300px;
}
#search .scope{
	border: 1px solid gray;
	text-align: left;
	width: 240px;
	margin-top: 5px;
}
#search .text{
	width: 100%;
	margin: 3px 0px;
}
#search td{
	border: none;
	padding: 0px;
}
/* ========== PROJECT ========== */
#project{
	margin-left: 10px;
	margin-right: 10px;
}
#project .left{
	width: 49%;
	padding-right: 5px;
}
#project .right{
	float: right;
	width: 50%;
	padding-left: 5px;
}
#chart{
	width: 450px;
	height: 270px;
	border: 1px solid #CCC;
}
#chart td{
	font-size: 12px;
	border: none;
}
.downloads{
	background-image: url(../img/project/downloads.png?3);
}
.reportbug{
	background-image: url(../img/project/reportbug.png?3);
}
.statistics{
	background-image: url(../img/project/statistics.png?3);
}
.technicalinfo{
	background-image: url(../img/project/technicalinfo.png?3);
}
.contributors{
	background-image: url(../img/project/contributors.png?3);
}
/* ========== LOGIN ========== */
#logindiv{
	text-align: center;
}
#logindiv .loginmsg{
	font-weight: bold;
	color: #F00;
}
#logindiv .fieldset, #logindiv .fieldset table{
	margin-left: auto;
	margin-right: auto;
}
#logindiv .fieldset table{
	margin-top: 10px;
	margin-bottom: 10px;
}
#logindiv th{
	text-align: right;
	font-weight: normal;
}
#logindiv td{
	text-align: left;
}
#logindiv input:focus{
	border: 1px solid #D00;
}
.mandatory{
	font-weight: bold;
	color: #F00;
	padding-right: 3px;
}
#rmsg{
	font-weight: bold;
	margin-top: 10px;
}
#logindiv .success{
	color: green;
}
#logindiv .error{
	color: #F00;
}
/* ========== UPDATE ========== */
#update{
	margin-left: 10px;
	margin-right: 10px;
	height: 480px;
}
#update .fstitle{
	background-image: url(../img/addresult.png?4);
}
#update table{
	width: auto;
	margin-top:10px;
}
#update td{
	border: none;
	padding: 1px;
}
#update a{
	font-size: 11px;
}
#update input[type=text]{
	font: 12px Verdana;
	width: 350px;
	color: #888;
	border: 1px solid #AAA;
	padding: 2px;
}
#update input[type=text]:focus{
	border: 1px solid #D00;
	color: #000;
}
#update input[type=text].completed{
	border: 1px solid #080;
	color: #000;
}
#update input[type=text].completed2{
	border: 1px solid #000;
	color: #000;
}
#update #dt1, #update #dt2, #update #yr{
	width: 100px;
}
#update #prevbtn{
	background-image: url('../img/component/button/previous.png?3');
	background-position: 4px center;
	padding-left: 18px;
}
#update #nextbtn{
	background-image: url('../img/component/button/next.png?3');
	background-position: 4px center;
	padding-left: 18px;
}
#update #modifybtn{
	background-image: url('../img/component/button/modify.png?3');
	background-position: 4px center;
}
#update #addbtn{
	background-image: url('../img/component/button/add.png?3');
	background-position: 4px center;
}
#ajaxdiv {
	position: absolute;
	width: 800px;
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
}
#ajaxdiv ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border: 1px solid #CCC;
	max-height: 300px;
	overflow: auto;
}
#ajaxdiv ul li {
	list-style-type: none;
	display: block;
	margin: 0px;
	padding: 3px;
	border: 1px solid #FFF;
	cursor: pointer;
}
#ajaxdiv ul li.selected {
    background-color: #CDE8FF;
    border: 1px solid #888;
}
/* ========== DIALOGS ========== */
.dialog, .dialog input{
	font: 12px Verdana;
}
.dialog .fstitle {
	background-color: #005090;
	color: #FFF;
}
#d-lastupdates .fstitle{
	background-image: url(../img/component/button/lastpudates.png?3);
}
#d-export .fstitle{
	background-image: url(../img/component/button/export.png?3);
}
#d-link .fstitle{
	background-image: url(../img/component/button/link.png?3);
}
#d-info .fstitle{
	background-image: url(../img/component/button/info.png?3);
}
.dialog .dlgbuttons{
	height: 33px;
	padding-right: 8px;
}
.dialog .dlgbuttons input.button{
	float: right;
	height: 25px;
	margin: 0px;
	margin-left: 3px;
	background-color: #DADADA;
	background-position: 3px center;
	background-repeat: no-repeat;
	padding-left: 22px;
	cursor: pointer;
	border: 1px solid #AAA;
}
.dialog .dlgbuttons input.button:hover{
	color: #FFF;
	background-color: #444;
}
.dialog .dlgbuttons .ok, .optcontainer .ok, #logindiv .ok{
	background-image: url('../img/component/button/ok.png?3');
}
.dialog .dlgbuttons .cancel, .optcontainer .cancel{
	background-image: url('../img/component/button/cancel.png?3');
}
#d-export td{
	background-color: #FFF;
	text-align: center;
	cursor: pointer;
}
#d-export td label, #d-export td input{
	cursor: pointer;
}
#d-export td:hover{
	background-color: #BDE0FF;
}
#d-export label{
	display: block;
}
#linktxt{
	width: 450px;
	cursor: default;
}
.otherimglink{
	float: left;
	background: transparent url(../img/render/more2.gif) left bottom no-repeat;
	padding-left: 15px;
	padding-right: 5px;
}