<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="env">local</entry><!-- Environment (standalone|local|test|prod) -->
	<entry key="version">0.12.9</entry>
	<entry key="date">01/12/2015</entry>
	<entry key="url">http://localhost/</entry>
	<entry key="img.url">http://localhost:8181/</entry>
	<entry key="img.folder">c:/glassfish4/glassfish/domains/domain1/docroot/img/</entry>
	<entry key="font.folder">c:/windows/fonts/</entry>
	<entry key="temp.folder">c:/temp/</entry>
</properties>